.portfolio-header {
  background: lightblue;
}

.icon-menu {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 20px;
}

.icon-menu:hover {
  color: orange;
}

.main-nav {
  display: block;
}

.display-nav {
  display: none;
}

.display-nav:hover ul {
  display: block;
  background-color: green;
}

@media only screen and (min-width: 650px) {
  .icon-menu {
    display: none;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav li {
    display: inline;
  }

img {
  width: 50%;
  height: 10em;
}
}
