body {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

header {
	margin: 3em;
	width: 100%;
}

ul {
	display: block;
	position: relative;
	float: right;
	list-style: none;
}

li {
	display: inline-block;
}

img {
	width: 75%;
	height: 10em;
}

header img {
	margin-right: 3em;
}

@media only screen and (min-width: 700px) {
	img {
		width: 50%;
		height: 10em;
	}
}

@media only screen and (min-width: 400px) {
	img {
		width: 50%;
		height:10em;
	}

	nav li {
		display: inline-block;
	}
}
