body {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

header {
	margin: 3em;
	width: 100%;
}

ul {
	display: block;
	position: relative;
	float: right;
	list-style: none;
}

li {
	display: inline-block;
}
