body {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

header {
	margin: 3em;
	width: 100%;
}

div {
	display: block;
}

ul {

	display: block;
	position: relative;
	list-style: none;
}

li {
	display: inline-block;
	text-align: right;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: 10em;
}

header {
	margin: auto;
}

main {
	display: block;
}
